.switch-label {
    border-color: var(--navbar);
}

.documentation.is-dark code[class*=language-], .documentation.is-dark pre[class*=language-] {
    white-space: pre-wrap;
    word-break: break-all;
}