.switch-label {
    border-color: var(--navbar);
}

.documentation.is-dark code[class*=language-], .documentation.is-dark pre[class*=language-] {
    white-space: pre-wrap;
    word-break: break-all;
}

/* SCROLL BAR */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}

::-webkit-scrollbar-thumb {
  background: var(--primary);
  border: 0px none;
  border-radius: 25px;
}

::-webkit-scrollbar-track {
  background: var(--sidebar);
  border: 0px none;
  border-radius: 25px;
}

::-webkit-scrollbar-corner {
  background: transparent;
}
